.list {
  margin-top: 5px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    text-transform: capitalize;
  }

  &__sort-btn {
    display: inline-flex;
    align-items: center;
    color: $secondaryColor;
    cursor: pointer;
    background: transparent;
    border: none;

    span {
      margin-right: 5px;
    }
  }

  &__item {
    display: flex;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    & + & {
      margin-top: 15px;
    }

    &-options {
      display: flex;
      align-items: center;
      margin-top: auto;
      flex-wrap: wrap;

      &-item {
        display: flex;
        align-items: center;

        & + & {
          margin-left: 8px;

          @media (min-width: 767px) {
            margin-left: 15px;
          }
        }
      }

      &-label {
        margin-left: 5px;
        font-size: 0.8em;
      }

      .media__options-btn {
        @media (min-width: 767px) {
          width: 30px;
          height: 30px;
          font-size: 1.2em;
        }
        background-color: rgba(0, 0, 0, 0.07);
      }
    }

    &-img {
      min-width: 150px;
      width: 150px;
      padding: 10px;

      @media (max-width: 767px) {
        min-width: 90px;
        width: 90px;
        padding: 10px;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &-details {
      padding: 10px;
      display: flex;
      flex-direction: column;
    }

    &-heading {
      font-size: 18px;
      font-weight: 500;

      a {
        color: inherit;
      }
    }

    &-overview {
      margin-top: 10px;
      line-height: 1.4;
    }

    &-rating {
      width: 1.6em;
      height: 1.6em;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.07);
      border-radius: 50%;
      color: #4e4e4e;
      font-size: 1.1em;

      @media (min-width: 767px) {
        width: 30px;
        height: 30px;
        font-size: 1.1em;
      }
    }
  }
}
