.row {
  display: flex;
  flex-wrap: wrap;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }

  &__filter {
    display: flex;
    border: 1px solid #e3e3e3;
    border-radius: 20px;

    &-item {
      padding: 5px 10px;
      cursor: pointer;

      &.active {
        background-color: $secondaryColor;
        border-radius: 20px;
        color: #fff;
      }
    }
  }

  &__title {
    font-size: 1.3em;
    text-transform: uppercase;
  }

  @media (max-width: 767px) {
    .item {
      margin: 6px;
      width: 28.8% !important;
      padding: 0;
    }
  }
}
