section {
  > h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  & + & {
    margin-top: 30px;
  }

  &.section-preview {
    .grid {
      overflow-x: auto;

      @media (max-width: 767px) {
        grid-template-columns: repeat(7, 30%);
      }

      @media (min-width: 768px) {
        grid-template-columns: repeat(7, minmax(135px, 1fr));
      }
    }
  }
}

.toggle-holder {
  text-align: right;
  margin-bottom: 7px;
}

.btn-toggle {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: $secondaryColor;
  padding: 0;

  &:hover {
    color: darken($secondaryColor, 20%);
  }
}
