.review {
  &__item {
    border: 1px solid #d4dde9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;

    & + & {
      margin-top: 15px;
    }
  }

  &--toggle {
    text-align: right;
    margin-bottom: 7px;

    button {
      background: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      color: $secondaryColor;
      padding: 0;

      &:hover {
        color: darken($secondaryColor, 20%);
      }
    }
  }

  &__author {
    font-size: 1em;
    margin-bottom: 10px;

    em {
      font-size: 0.9em;
    }

    span {
      font-weight: 500;
      margin-left: 5px;
    }
  }

  &__link {
    margin-bottom: 15px;

    a {
      color: $secondaryColor;
    }
  }

  &__text {
    line-height: 1.4em;
    letter-spacing: 0.1px;
    text-align: justify;
  }

  &__btn {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline: none;
    color: $secondaryColor;

    &.expanded {
      display: block;
      margin-top: 20px;
    }
  }
}
