.media {
  &__hero {
    height: 460px;
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    @media (max-width: 767px) {
      height: 210px;
      background-position: center;
    }
  }

  &__details {
    background: rgba(0, 0%, 0%, 0.85);
    background: linear-gradient(
      285deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media (max-width: 767px) {
      padding: 75px 10px 10px 10px;
    }

    @media (min-width: 768px) {
      padding: 0 10px 40px 300px;
    }
  }

  &__title {
    font-size: 2.3em;
    margin-bottom: 15px;

    @media (max-width: 767px) {
      font-size: 1.7em;
      margin-bottom: 10px;
    }
  }

  &__release-year {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
  }

  &__genres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-item {
      padding: 0 10px;
      margin: 1px;
      border-right: 1px solid #868686;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        border-right-color: transparent;
      }
    }

    @media (max-width: 767px) {
      margin-top: 2px;
    }
  }

  &__options {
    display: flex;
    align-items: center;

    > div {
      margin-right: 10px;
    }

    &-btn {
      display: inline-block;
      border-radius: 3px;
      font-size: 1.5em;
      cursor: pointer;
      color: #4e4e4e;
      background-color: hsla(0, 0%, 0%, 0.77);
      border-radius: 50%;
      width: 1.6em;
      height: 1.6em;
      display: flex;
      align-items: center;
      justify-content: center;

      &.favorite {
        color: #e74c3c;
      }

      &.watchlist {
        color: $secondaryColor;
      }
    }

    .icon {
      &-star {
        font-size: 1.5em;
      }

      &-imdb {
        font-size: 2em;
        line-height: 0em;
      }
    }
  }

  &__info {
    margin-top: 7px;

    > div {
      margin-right: 10px;
    }

    &-holder {
      display: flex;

      > div {
        margin-right: 10px;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
    }
  }

  &__vote {
    display: flex;
    align-items: center;
    line-height: 1;
    position: relative;
    cursor: pointer;

    .icon-star {
      margin-right: 3px;
    }

    .rating__container {
      position: absolute;
      top: 90%;
      left: -10px;
      display: none;
      padding: 10px;
      background-color: #111921;
      border-radius: 5px;
      font-size: 1.5em;
    }

    &:hover {
      .rating__container {
        display: block;
      }
    }
  }

  &__tagline {
    font-size: 1.1em;
    // border-left: 3px solid rgba(255, 255, 255, 0.6);
    // padding-left: 15px;
    font-style: italic;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.6);
  }

  &__poster {
    position: absolute;
    top: 282px;
    left: 30px;
    z-index: 2;
    width: 250px;

    @media (max-width: 767px) {
      top: 106%;
      left: 4px;
      width: 70px;
    }

    img {
      width: 100%;
    }
  }

  &__desc {
    padding-top: 20px;

    @media (max-width: 767px) {
      padding-left: 0;
      padding-top: 10px;
    }

    @media (min-width: 768px) {
      padding-left: 300px;
      min-height: 225px;
    }
  }

  &__overview {
    @media (max-width: 767px) {
      padding-left: 80px;
      min-height: 110px;
      text-align: justify;
    }

    &-heading {
      font-size: 1.3em;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 1em;
      line-height: 1.4em;
      letter-spacing: 0.2px;
    }
  }

  &__crew {
    margin-top: 20px;

    &-label {
      margin-right: 5px;
      width: 100px;
      letter-spacing: 0.2px;
    }

    &-link {
      position: relative;
      display: inline-block;
      margin-right: 7px;

      a {
        color: $secondaryColor;

        &:hover {
          color: darken($secondaryColor, 20%);
        }
      }

      &:after {
        content: "\002C";
        position: absolute;
        bottom: 0;
        left: 100%;
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }

    &-row {
      & + & {
        margin-top: 5px;
      }
    }
  }
}
