.person {
  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      > a {
        width: 32%;
      }
    }
  }

  &__holder {
    display: flex;
    flex-direction: column;
    width: 125px;
    padding: 0 15px 10px 15px;
    cursor: pointer;

    @media (max-width: 767px) {
      width: 100%;
    }

    &:hover {
      .person__name {
        color: darken($primaryColor, 30%);
      }
    }
  }

  &__img {
    width: 100%;
    border-radius: 4px;
    height: 137px;

    @media (max-width: 767px) {
      height: auto;
    }
  }

  &__info-text {
    margin-top: 8px;
  }

  &__name {
    color: $primaryColor;
    margin: 0;
  }

  &__role {
    margin-top: 5px;
    color: #2c3e50;
  }

  &__info {
    @media (max-width: 767px) {
      flex-direction: column;
      margin-top: 0;
    }
  }

  &-small {
    &__holder {
      display: flex;
      padding-bottom: 10px;
      align-items: center;
    }

    &__img {
      width: 40px;
      min-width: 40px;
      height: 57px;
      border-radius: 3px;
    }

    &__details {
      flex: 1;
      padding-left: 5px;
      color: #2c3e50;
    }
  }
}
