.person {
  &__list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      > a {
        width: 32%;
      }
    }
  }

  &__holder {
    cursor: pointer;

    @media (max-width: 767px) {
      width: 100%;
    }

    &:hover {
      .person__name {
        // color: darken($primaryColor, 30%);
      }
    }
  }

  &__img {
    width: 100%;
    border-radius: 3px;

    @media (max-width: 767px) {
      height: auto;
    }
  }

  &__info-text {
    margin-top: 8px;
    font-size: 12px;
  }

  &__name {
    color: $secondaryColor;
  }

  &__role {
    margin-top: 5px;
    // color: lighten($primaryColor, 20%);
  }

  &__info {
    @media (max-width: 767px) {
      flex-direction: column;
      margin-top: 0;
    }
  }

  &-small {
    &__holder {
      display: flex;
      padding-bottom: 10px;
      align-items: center;
    }

    &__img {
      width: 40px;
      min-width: 40px;
      height: 57px;
      border-radius: 3px;
    }

    &__details {
      flex: 1;
      padding-left: 5px;
    }
  }
}
