.credits {
  margin-top: 20px;

  &__list {
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;

    & + & {
      margin-top: 15px;
    }
  }

  &__item {
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3;
    color: #2c3e50;
    display: block;

    &:last-child {
      border-bottom: none;
    }

    &-year {
      display: inline-block;
      width: 7%;

      @media (max-width: 767px) {
        width: 11%;
      }
    }

    a {
      font-weight: 500;
      color: inherit;
    }
  }

  &__options {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 767px) {
      justify-content: center;
    }

    &-item {
      padding: 10px;
      cursor: pointer;

      &.selected {
        color: $secondaryColor;
        font-weight: 500;
      }
    }
  }
}
