@import "reset";
@import "mixin";
@import "variables";
@import "components/item";
@import "components/navigation";
@import "components/loader";
@import "components/person-list";
@import "components/dropdown";
@import "components/personInfo";
@import "components/credits";
@import "components/video";
@import "components/season";
@import "components/episode";
@import "components/pagination";
@import "components/header";
@import "components/mediaInfo.scss";
@import "components/review";
@import "components/images";
@import "components/login-form";
@import "components/icons";
@import "components/rating";
@import "components/list";
@import "components/row";
@import "components/sidebar";
@import "components/grid";
@import "components/main";
@import "components/section";
@import "components/home-preview";
@import "components/filter-discover";

html {
  font-family: $font-family;
  font-size: 14px;
  line-height: 1.2;
  color: $primaryTextColor;
  scroll-behavior: smooth;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

body {
  padding-bottom: 50px;
  background-color: $backgroundColor;
}

* {
  box-sizing: border-box;
}

a {
  color: #65737e;
  &:hover {
    color: $secondaryColor;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 767px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  &.hidden {
    display: none;
  }
}
