.dropdown {
  position: relative;

  &.open {
    .dropdown__menu {
      display: block;
    }
  }

  &__toggle {
    padding: 5px 20px 5px 10px;
    color: #676565;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;

    &:after {
      position: absolute;
      top: 50%;
      right: 6px;
      transform: translateY(-50%);
      content: "";
      border: 5px solid transparent;
      border-top: 5px solid #676565;
      border-bottom: 0;
    }
  }

  &__menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #ecf0f1;
    box-shadow: 3px 2px 5px 0px rgba(122, 116, 122, 1);
    z-index: 150;
  }

  &__item {
    a {
      display: block;
      width: 100%;
      padding: 5px 10px;
      font-weight: 400;
      color: $textColor;
      white-space: nowrap;
      border: 0;

      &:hover {
        background-color: $textColor;
        color: #ecf0f1;
      }
    }
  }
}
