.nav {
  display: flex;
  padding-left: 0;
  list-style: none;
  font-size: 1.1rem;

  &__link {
    display: block;
    padding: 5px 10px;
    color: #676565;
    text-decoration: none;
    position: relative;

    &.active {
      color: $secondaryColor;
    }

    &:hover {
      color: lighten($primaryColor, 30%);

      .nav {
        display: flex;
      }
    }

    .nav {
      flex-direction: column;
      position: absolute;
      top: 100%;
      z-index: 10;
      white-space: nowrap;
      display: none;
      transition: all 0.1s ease;
      border: 1px solid #d4d6d6;
      background-color: #fff;
      box-shadow: 3px 2px 5px 0px rgba(122, 116, 122, 1);
    }
  }

  &-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

    @media (max-width: 767px) {
      flex-direction: column;
      padding: 10px 0;
    }
  }
}

.react-autosuggest {
  &__container {
    position: relative;
  }

  &__input {
    width: 70px;
    padding: 5px 11px;
    font-weight: 300;
    font-size: 14px;
    border-radius: 17px;
    border: none;
    background: #ecf0f1;
    color: $primaryColor;
    border-style: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;

    &:focus {
      width: 180px;
    }

    &::placeholder {
      color: #b7b7b7;
    }
  }

  &__input--focused {
    outline: none;
  }

  &__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__suggestions-container--open {
    display: block;
    position: absolute;
    top: 101%;
    min-width: 240px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
  }

  &__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__suggestion {
    cursor: pointer;
    padding: 10px 20px;
  }

  &__suggestion--highlighted {
    background-color: #ddd;
  }

  &__suggestion-match {
    color: $primaryColor;
    font-weight: bold;
  }
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.acc-nav {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  &__item {
    padding: 5px 15px;
    position: relative;

    span {
      cursor: pointer;
      font-size: 20px;
    }

    a {
      color: inherit;
    }

    &:hover {
      color: darken($primaryColor, 20%);

      .sub-nav {
        display: flex;
      }
    }
  }
}

.sub-nav {
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  white-space: nowrap;

  > li {
    padding: 0 15px;

    a {
      color: lighten($primaryColor, 30%);

      &:hover {
        color: $primaryColor;
      }
    }
  }

  &.open {
    display: flex;
  }
}
