.movie {
  &__data {
    &-list {
      display: flex;
      flex-direction: column;
    }

    &-item {
      padding: 15px 0;

      @media (max-width: 767px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
      }
    }

    &-heading {
      color: lighten($textColor, 30%);
    }

    &-info {
      margin-top: 8px;

      @media (max-width: 767px) {
        text-align: right;
      }

      p {
        & + p {
          margin-top: 5px;
        }
      }

      a {
        color: inherit;
      }
    }
  }
}
