.movie {
  &__data {
    &-list {
      display: flex;
      flex-direction: column;
    }

    &-item {
      padding: 15px 0;
    }

    &-heading {
      color: $textColor;
    }

    &-info {
      margin-top: 8px;

      p {
        & + p {
          margin-top: 5px;
        }
      }

      a {
        color: inherit;
      }
    }
  }
}
