.person {
  &__info {
    display: flex;
    color: #2c3e50;
  }

  &__image {
    &-holder {
      img {
        width: 300px;

        @media (max-width: 767px) {
          width: 150px;
        }
      }
    }
  }

  &__image {
    width: 100%;
    border-radius: 4px;
  }

  &__overview {
    &-holder {
      padding: 0 30px 30px 30px;
      flex: 1 1 auto;

      @media (max-width: 767px) {
        padding: 10px;
      }
    }

    &-heading {
      color: $primaryColor;
      font-size: 1.1em;
      margin-bottom: 10px;
    }
  }

  &__biography {
    line-height: 1.4;
    text-align: justify;
  }

  &__container {
    display: flex;
    margin-top: 30px;

    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__sidebar {
    width: 20%;
    min-width: 20%;
    background-color: #ecf0f1;
    padding: 20px 10px 10px 10px;

    @media (max-width: 767px) {
      width: auto;
    }

    h4 {
      font-size: 120%;
      font-weight: 700;
    }
  }

  &__heading {
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    h2 {
      font-size: 2em;
      word-spacing: 2px;
      letter-spacing: 1px;
      margin-right: 15px;

      @media (max-width: 767px) {
        font-size: 1.8em;
        margin-right: 5px;
        margin-bottom: 5px;
      }
    }
  }

  &__icons-holder {
    a {
      color: inherit;
      display: inline-block;

      & + a {
        margin-left: 7px;
      }
    }
  }

  &__main {
    padding: 20px;
    flex: 1 auto;

    .item {
      width: 140px;
      padding: 0 15px;
      margin: 0;

      @media (max-width: 767px) {
        margin: 0;
      }

      &__image-holder {
        height: 165px;
      }
    }

    h4 {
      margin: 15px 0;
      font-size: 120%;
      font-weight: 700;
    }

    .row {
      margin: 0 -20px;
    }
  }
}
