.header {
  &__top {
    display: flex;
    justify-content: flex-end;
    background-color: #ecf0f1;
    padding: 5px 10px;
  }

  &__top {
    &-info {
      display: flex;
      align-items: center;

      a {
        color: lighten($primaryColor, 20%);
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    margin-right: 20px;

    &-details {
      margin-left: 10px;
    }

    &-link {
      font-size: 12px;
    }

    &-img {
      width: 32px;
      height: 32px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
    }

    &-name {
      color: $primaryColor;
    }
  }
}
