.movie {
  &__info {
    display: flex;
    color: #2c3e50;
    margin-top: 50px;

    h1 {
      font-size: 240%;
      text-transform: uppercase;
      margin-bottom: 50px;
      margin-top: 0;
      font-weight: 700;
      word-spacing: 2px;
      letter-spacing: 1px;

      span {
        font-size: 73%;
        letter-spacing: 0px;
      }
    }
  }

  &__image {
    width: 320px;

    &-holder {
      text-align: center;
    }
  }

  &__overview {
    margin-top: 30px;
    line-height: 1.4;

    &-holder {
      padding-left: 30px;
      flex: 1 auto;
    }

    &-heading {
      color: $primaryColor;
      font-size: 126%;
      margin-bottom: 10px;
    }

    &-info {
      display: flex;
      align-items: center;
    }

    &-text {
      max-height: 195px;
      overflow: auto;
      text-align: justify;
    }

    &-crew {
      margin-top: 20px;

      &-label {
        font-weight: 700;
        margin-right: 5px;
      }

      &-link {
        position: relative;
        display: inline-block;
        margin-right: 7px;

        a {
          color: $primaryColor;

          &:hover {
            color: darken($primaryColor, 30%);
          }
        }

        &:after {
          content: "\002C";
          position: absolute;
          bottom: 0;
          left: 100%;
        }

        &:last-child {
          &:after {
            content: "";
          }
        }
      }

      &-row {
        & + & {
          margin-top: 5px;
        }
      }
    }
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;

    &-item {
      padding: 0 10px;

      & + & {
        border-left: 1px solid #2c3e50;
      }
    }
  }

  &__tagline {
    font-size: 140%;
    border-left: 5px solid #eee;
    padding-left: 15px;
    font-style: italic;
    margin-top: 20px;
  }

  &__vote {
    color: #f1c40f;
    font-size: 139%;
    font-weight: 700;
    display: flex;
  }
}

@media (max-width: 767px) {
  .movie {
    &__info {
      flex-direction: column;
      margin-top: 0;

      h1 {
        margin-bottom: 30px;
        word-spacing: 0px;
        font-size: 180%;
      }
    }

    &__overview {
      &-holder {
        margin-top: 20px;
        padding: 0 15px;
      }
    }

    &__image {
      width: 230px;
    }
  }
}
