.item {
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease;

  &:hover {
    .item {
      &__title {
        color: darken($primaryColor, 30%);
      }

      &__vote-average {
        display: flex;
      }
    }
  }

  &__info-holder {
    padding: 8px;
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    color: $secondaryColor;
    transition: all 0.5s ease;
  }

  &__year {
    font-size: 12px;
    color: $primaryColor;
  }

  &__add-info {
    font-size: 12px;
    color: #2c3e50;
    margin-top: 5px;
  }

  &__image {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    &-holder {
      position: relative;

      @media (max-width: 767px) {
        height: auto !important;
      }
    }
  }

  &__vote-average {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #f1c40f;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    border-radius: 4px;
    overflow: hidden;

    span {
      margin-left: 3px;
    }
  }
}

// .movie__content {
//   .item {
//     width: 148px;
//     padding: 0 15px;
//     margin: 0;

//     &__image-holder {
//       height: 165px;
//     }
//   }
// }

.list__item {
  display: flex;
  border: 1px solid #e3e3e3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  & + & {
    margin-top: 15px;
  }

  &-img {
    min-width: 150px;
    width: 150px;
    padding: 10px;

    @media (max-width: 767px) {
      min-width: 90px;
      width: 90px;
      padding: 10px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &-details {
    padding: 10px;
  }

  &-heading {
    font-size: 18px;
    font-weight: 700;

    a {
      color: inherit;
    }
  }

  &-overview {
    margin-top: 10px;
    line-height: 1.4;
  }
}
